/* General Table styling */
.DG-Table td {
  border: 2px solid #dddddd;
  border-spacing:0;
  text-align: center;
  padding: 8px;
}
.DG-Table-Label {
  background-color:#EAECF0;
  font-weight: bold;
}
.DG-AG-Challenge {
  background-color:#EAECF0;
}
.DG-HomeButton {
  width:40px;
  height:40px;
}
.DG-ToC {
  table-layout: fixed;
}
.DG-ToC img{
  height:80px;
}
/*Ignore table labels, only apply to cells themselves*/
.DG-ToC td:not(.DG-Table-Label) {
  width: 120px;
}

.DG-ImageTable img{
  height:80px;
}

.DG-Hidden-Table td{
  border: none;
  border-spacing:0;
  text-align: center;
  padding: 8px;
}  

/* Prevent centering of text for dot-points */
.DG-DotPoints td{
  text-align: left;
}

/* Archetype Categories */
.DG-CMN {
  background-color:#6C757D; 
  color:white;
  font-weight: bold;
}
.DG-ARA {
  background-color:#DC3545;
  color:white;
  font-weight: bold;
}
.DG-PRO {
  background-color:#CD853F; 
  color:white;
  font-weight: bold;
}
.DG-PSY {
  background-color:#DA70D6; 
  color:white;
  font-weight: bold;
}
.DG-ELE {
  background-color:#17A2B8; 
  color:white;
  font-weight: bold;
}

/* Collapsible Buttons */
.DG-CollapsibleButton  {
  background-color: #DDDDDD;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.DG-CollapsibleContent {
  background-color: #F7F7F7;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-style: groove;
}

.DG-Active, .DG-CollapsibleButton:hover {
  background-color: #777777;
  color:white;
}